.articleDetailedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
  gap: 1.5em;
  padding: var(--padding-content);
}

.articleCategoryContainer {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  width: 50%;
}

.articleCategory {
  outline: 1.5px solid black;
  padding: 0.3em 1em 0.3em 1em;
  box-shadow: -5px 5px 5px black;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: black;
}

.articleCategory:visited {
  color: black;
}

.articleAuthorAndDateContainer {
  display: flex;
  gap: 0.3em;
}

.articleDetailedImageContainer {
  width: 100%;
}

.articleAuthorInformation h2 {
  margin-bottom: 0.5em;
  text-align: center;
}

.articleDetailedDescriptionContainer {
  line-height: 1.5em;
}

.articleDetailedTagsContainer p {
  outline: 1.5px solid black;
  padding: 0.2em 0.18em 0.2em 0.18em;
  box-shadow: -5px 5px 5px black;
  text-transform: capitalize;
  background-color: white;
}

.articleTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.articleDetailedTagsContainer h3,
.articleCommentsContainer h3,
.articleLogInUser {
  margin-bottom: 0.5em;
  text-align: center;
}

.articleCommentsContainer {
  width: 80%;
  margin-top: 2em;
}

.submitCommentTextArea {
  width: 100%;
  min-height: 50px;
  max-height: 400px;
  resize: vertical;
  cursor: row-resize;
}

.submitBtnCommentContainer {
  margin: 1em 0em;
}

.submitBtnComment {
  background-color: gray;
  color: white;
  padding: 0.2em 0.5em;
  border: none;
  border-radius: 0.2em;
}

.articleComment {
  border-left: 1px solid #9443e0;
  border-bottom: 1px solid gray;
  margin: 1.5em 0;
}

.articleComment > p,
.articleLikeContainer {
  margin-left: 0.8em;
}

.articleUserNames {
  margin-bottom: 0.2em;
}

.articleContent {
  margin: 0.5em 0;
}

.articleLikeContainer {
  display: flex;
  margin-bottom: 0.5em;
  gap: 0.3em;
}

.articleCommentLikeSvg {
  width: 1em;
}
