.logInFormWrapper {
  min-height: 75vh;
}

.logInFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5em;
}

.logInFormPolicyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.logInForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

a.logInFormLink {
  color: #9443e0;
}

.formContentWrapper {
  margin-bottom: 1em;
}

.logInButtonContainer {
  margin-bottom: 1em;
}

.logInButton {
  padding: 0.5em 1.5em;
  background-color: #423c3a83;
  border: 0;
  color: white;
  font-size: 1em;
}
