.navContent {
  max-width: var(--max-width-page);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.whiteBackground {
  color: #e2dfd2;
}

.redBackground {
  color: red;
}

.greenBackground {
  color: green;
}

.navComponentSvgIcons {
  width: 1.2em;
}

.navSvgIcons:first-child {
  margin-left: 0.3em;
  width: 0.8em;
}

.navSvgIcons:nth-child(2) {
  width: 1.4em;
}

.navMainPage {
  letter-spacing: 0.3em;
  font-size: 1.125rem;
  margin-left: 2.5em;
  text-transform: uppercase;
}

.navRightSideContent {
  display: flex;
  align-items: center;
}

.loggedUserContainer {
  position: relative;
}

.loggedInUserSvg {
  width: 30px;
  height: 30px;
  margin-right: 0.8em;
  border-radius: 50%;
  object-fit: cover;
}

.loggedInToggleDropDown {
  position: absolute;
  background-color: #f3f3f3;
  max-width: 110px;
  padding: 1em;
  margin-top: 0.3em;
  left: -90%;
  outline: 2px solid black;
  width: 110px;
}

.loggedInToggleDropDown li {
  font-size: 13px;
}

.loginButton {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-right: 0.5rem;
  background-color: #9443e0;
  color: #fff;
  border-radius: 0.1rem;
  border: 0;
}

.loginButton:hover {
  cursor: pointer;
}

.navMenuWrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.navMenuContainer {
  background-color: #e6e6e6;
}

.navMenuContent {
  max-width: var(--max-width-page);
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
}

.navigationLinks {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.navPostArticles {
  display: flex;
  align-items: center;
}

.navPostImgContainer {
  margin-bottom: 0.5rem;
}

.navPostImg {
  max-height: 130px;
  object-fit: cover;
}

.navPostDescription {
  margin-left: 1rem;
}

@media screen and (max-width: 900px) {
  .navPostArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .navPostDescription {
    text-align: center;
  }
}

@media screen and (min-width: 390px) {
  .loginButton {
    margin-left: 0.5rem;
  }
}
