.mainPagePostArticleContainer:nth-child(1) {
  grid-area: firstPost;
}

.mainPagePostArticleContainer:nth-child(2) {
  grid-area: secondPost;
}

.mainPagePostArticleContainer:nth-child(3) {
  grid-area: thirdPost;
}

.mainPagePostArticleContainer:nth-child(4) {
  grid-area: fourthPost;
}

.mainPagePostArticleContainer:nth-child(5) {
  grid-area: fifthPost;
}

.mainPagePostImg {
  aspect-ratio: 11.5 / 8;
}

.mainPagePostArticleContainer:nth-child(3) > .mainPagePostImg {
  aspect-ratio: 9 / 14;
  object-fit: cover;
}

.mainPagePostCategoryContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPagePostBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.mainPagePostBody > h2 {
  margin-top: 0.9em;
}
