.signUpFormWrapper {
  min-height: 75vh;
}

.signUpFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

.signUpFormPolicyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.signUpFormWelcome {
  margin-bottom: 0.5rem;
}

.privacyContent {
  width: 80%;
  text-align: center;
}

a.signUpFormLink {
  color: #9443e0;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.formContentWrapper {
  margin-bottom: 1em;
}

input {
  padding: 0.5em;
  width: 100%;
}

.error {
  margin-top: 0.3em;
  color: #c20f0f;
  font-size: 0.8rem;
}

.signUpButtonContainer {
  margin-bottom: 1em;
}

.signUpButton {
  padding: 0.5em 1.5em;
  background-color: #423c3a83;
  border: 0;
  color: white;
}
