.signUpFormWrapper {
  min-height: var(--login-form-min-height);
  max-width: var(--max-width-page);
  margin: var(--margin-default);
  padding: var(--logged-in-dropdown-background-padding);
}

.signUpFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--article-category-margin-top);
}

.signUpFormPolicyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--sign-up-form-policy-margin-bottom);
}

.signUpFormWelcome {
  margin-bottom: var(--nav-post-image-margin-bottom);
}

.privacyContent {
  width: var(--article-comments-width);
  text-align: center;
}

a.signUpFormLink {
  color: var(--login-form-link-color);
}

.signUpForm {
  display: flex;
  flex-direction: column;
  max-width: var(--login-form-width);
  width: var(--grid-image-width);
}

.formContentWrapper {
  margin-bottom: var(--form-content-margin-bottom);
}

input {
  padding: var(--input-padding);
  width: var(--grid-image-width);
}

.error {
  margin-top: var(--error-span-margin-top);
  color: var(--error-span-color);
  font-size: var(--error-span-font-size);
}

.signUpButtonContainer {
  margin-bottom: var(--form-content-margin-bottom);
}

.signUpButton {
  padding: var(--login-button-padding);
  background-color: var(--login-button-background-color);
  border: 0;
  color: var(--author-link-color);
}
