.userDashboardWrapper {
  min-height: 75vh;
}

.userDashboardContainer {
  max-width: var(--max-width-page);
  margin: 0 auto;
  padding: var(--padding-content);
  margin-top: 2.5em;
}

.greetingUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.userWarningParagraph {
  width: 45%;
  text-align: center;
}

.userInformationHeader {
  margin-bottom: 1em;
}

.userDashboardContent {
  display: flex;
}

.userDashboardLeftContent {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-right: 7em;
}

.userDashboardRightContent {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.userLabel {
  line-height: 1.5;
}

.userInformation {
  margin-bottom: 1em;
}

.userLink {
  outline: 1px solid black;
  padding: 0.3em 0.8em;
  text-transform: uppercase;

  font-size: 0.8rem;
}

.userLink:hover {
  background-color: #353535;
  color: #fff;
}
