.userDashboardWrapper {
  min-height: var(--login-form-min-height);
}

.userDashboardContainer {
  max-width: var(--max-width-page);
  margin: var(--margin-default);
  padding: var(--padding-content);
  margin-top: var(--login-form-margin-top);
}

.greetingUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--greeting-user-gap);
}

.userWarningParagraph {
  width: var(--user-warning-width);
  text-align: center;
}

.userInformationHeader {
  margin-top: var(--user-information-header-margin-top);
  margin-bottom: var(--form-content-margin-bottom);
}

.userDashboardContent {
  display: flex;
}

.userDashboardLeftContent {
  display: flex;
  flex-direction: column;
  gap: var(--user-dashboard-left-gap);
  margin-right: var(--user-dashboard-left-margin-right);
}

.userDashboardRightContent {
  display: flex;
  flex-direction: column;
  gap: var(--user-dashboard-left-gap);
}

.userLabel {
  line-height: var(--user-label-line-height);
}

.userInformation {
  margin-bottom: var(--form-content-margin-bottom);
}

.userLink {
  outline: 1px solid black;
  padding: var(--attention-authors-padding);
  text-transform: var(--article-category-text-transform);
  font-size: var(--error-span-font-size);
}

.userLink:hover {
  background-color: var(--author-link-background-color);
  color: var(--author-link-color);
}

.userDashboardPostHeader {
  margin-left: var(--user-dashboard-post-header-margin-left);
  margin-bottom: var(--nav-post-image-margin-bottom);
}

.managePostButtons {
  margin-left: var(--manage-post-buttons-margin-left);
}

.managePostButton + .managePostButton {
  margin-left: var(--user-dashboard-post-header-margin-left);
}

@media screen and (max-width: 500px) {
  .userLink {
    font-size: var(--user-link-font-size);
    display: block;
    max-width: var(--user-link-max-width);
    text-align: center;
  }

  .userDashboardLeftContent {
    margin-right: var(--user-dashboard-left-content-margin-right);
  }
}

@media screen and (max-width: 900px) {
  .userDashboardPostHeader {
    text-align: center;
    margin-bottom: var(--article-author-information-margin-bottom);
    margin-left: 0;
  }

  .managePostButtons {
    margin-left: 0;
  }

  .managePostButton + .managePostButton {
    margin-left: 0;
  }

  .managePostButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--main-community-gap);
  }
}
