:root {
  --max-width-page: 1200px;
  --max-width-content: 1250px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  cursor: pointer;
}

img,
picture {
  width: 100%;
}

.postCategory {
  outline: 1.5px solid black;
  padding: 0.2em 0.15em 0.2em 0.15em;
  position: absolute;
  box-shadow: -5px 5px 5px black;
  text-transform: capitalize;
  background-color: white;
}

.postDescription {
  line-height: 1.2em;
  height: 3.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
